In [23]:
a = 1
b = "Akhil" # string is always defined within double quotes
c = 1.1234
d = True # True starts with a capital T - python is case sensitive

this is not code - these are just comments

__bold__ _hello_ *ssup* 

* point 1 
* point 2

# just seeing if this works

__variables__ - intro session
Important points here 
1. python is case sensitive language
2. all the keywords have green colour ; so in case its not green like "false or print" is grey --> there is some error with the code
3. use "esc+a" to add a cell above & "esc +b" to add a cell below & shit + enter to get a new cell
4. python accepts both single quotes & double quotes as the same

In [12]:
# this is how comments are inserted inside the code

In [13]:
a

1

In [16]:
b

'Akhil'

In [18]:
# to check the datatype of the variable run the code : type("variable")

In [20]:
type(b) # checking the datatype for the variable b

str

In [21]:
print(type(a)) # using the print function here to avoid the possiblity of overriding of data - always use print
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

data structure is a collection of data types. define multiple elements in one shot

In [30]:
age_class = [20,22,23,24,25,26,27,28,29.5]
print (age_class) #when printing a variable/data structure dont use double quotes

[20, 22, 23, 24, 25, 26, 27, 28, 29.5]

In [26]:
type (age_class) #basically list is also a datatype (one with multiple values within it + it can have multiple datatypes within itself)

list

In [28]:
age_class = [20,"a",23,24,25,26,27,28,29]
print (age_class)

[20, 'a', 23, 24, 25, 26, 27, 28, 29]

Array is a datatype of numpy --> np ; so import np to use arrays
So array is used to bring all the elements of a list to a similar datatype so we can do ops (since lists can have dissimilar datatypes)

Data structures 
1. list - 1D (Moves in one direction) (often used to some specific data from a dataframe)
2. array - ndimensional
3. data frame - 2D - with rows and columns

In [29]:
import numpy as np

In [32]:
np.array(age_class) #basically asking python to display the array version of age_class : so it converted all of them to similar datatypes

array([20. , 22. , 23. , 24. , 25. , 26. , 27. , 28. , 29.5])

In [35]:
np.array([a,"b",3]) #bringing the array by manually defininng the contents of the element

array(['1', 'b', '3'], dtype='<U11')

In [34]:
type(np.array(age_class))

numpy.ndarray